# Allen & Heath Xone:4D (Ploytec 0a4a:ff4d): let the logged-in user drive it from
# userspace (x1-d-four) and keep USB autosuspend off, as A&H recommends.
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="0a4a", ATTR{idProduct}=="ff4d", TAG+="uaccess", ATTR{power/control}="on"
